.header {
  background-color: rgba(218, 218, 218, 0.842);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}
.header__glush {
  height: 103px;
}
@media screen and (max-width: 1000px) {
  .header__glush {
    height: 65px;
  }
}
.header-container {
  margin: 0 auto;
  max-width: 1718px;
}
.header__head {
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px 5px 40px;
}
@media screen and (max-width: 1000px) {
  .header__head {
    display: none;
  }
}
.header__phone {
  color: #000;
}
.header__phone-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__contact {
  display: flex;
  gap: 30px;
}
.header__contact-callback {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 5px 40px;
}
.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.header__logo-name {
  font-family: "light";
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .header__menu {
    display: none;
  }
}
.header__menu ul {
  display: flex;
  gap: 20px;
}
.header__menu ul li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2px;
}
.header__menu ul li a {
  color: #000;
  text-decoration: none;
}
.header__menu ul li {
  position: relative;
}
.header__menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s;
}
.header__menu ul li:hover::after {
  width: 100%;
}
.header__burger {
  z-index: 5;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}
@media screen and (min-width: 1000px) {
  .header__burger {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header__burger {
    display: flex;
  }
}
.header__burger span {
  transition: all 0.3s;
  height: 1px;
  background-color: #000000;
  display: block;
  width: 24px;
}
.header .burger_active span:nth-child(1) {
  transform: translate(6px, -1px) rotate(45deg);
  transform-origin: left top;
}
.header .burger_active span:nth-child(2) {
  transform: scale(0);
}
.header .burger_active span:nth-child(3) {
  transform: translate(-1px, -20px) rotate(-45deg);
  transform-origin: right bottom;
}
.header__menu-phone {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #d4d4d4;
  height: 100%;
  width: 100%;
  max-width: 200px;
  padding: 0 5vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  right: -200px;
  transition: opacity 0.5s, visibility 0s 0.5s, right 0.5s;
}
.header .menu_active {
  z-index: 4;
  position: fixed;
  display: flex;
  opacity: 1;
  visibility: visible;
  right: 0;
  transition: opacity 0.5s, visibility 0s, right 0.5s;
}
.header__small {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__small-menu {
  margin-top: 30px;
}
.header__small-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__small-menu ul li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2px;
}
.header__small-menu ul li {
  position: relative;
}
.header__small-menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s;
}
.header__small-menu ul li:hover::after {
  width: 100%;
}

.swiper {
  height: 400px;
}
.swiper-button-prev {
  color: pink !important;
}
.swiper-button-next {
  color: pink !important;
}
.swiper-pagination-bullet-active {
  background: pink !important;
}

.infoBeauty {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .infoBeauty {
    margin: 15px 30px;
  }
}
.infoBeauty_title {
  font-size: 40px;
  color: #8C303A;
}
.infoBeauty_info {
  font-size: 20px;
  color: #8C303A;
}
.infoBeauty_info-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px;
}
@media screen and (max-width: 1000px) {
  .infoBeauty_info-cont {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.services {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .services {
    margin: 15px 30px;
  }
}
.services_title {
  font-size: 40px;
  color: #8C303A;
}
.services_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .services_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .services_container {
    grid-template-columns: 1fr;
  }
}
.services_item {
  position: relative;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
}
.services_item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(145, 69, 78, 0.862745098);
  border-radius: 0 0 15px 15px;
  transition: height 0.3s ease;
}
.services_item:hover::after {
  height: 100%;
}
.services_item:hover .services_item-name {
  color: white;
}
.services_item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  z-index: 1;
}
.services_item-name {
  font-size: 20px;
  color: #8C303A;
  z-index: 1;
}

.advantages {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .advantages {
    margin: 15px 30px;
  }
}
.advantages_title {
  font-size: 40px;
  color: #8C303A;
}
.advantages_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1000px) {
  .advantages_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .advantages_container {
    grid-template-columns: 1fr;
  }
}
.advantages_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.advantages_item img {
  width: 100px;
}
.advantages_item p {
  padding-top: 15px;
  border-top: 1px solid #000;
  width: 100%;
  text-align: center;
}
.advantages_item a {
  color: black;
  text-decoration: none;
}

.callback {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to left, #F9B1D7, #F9EAF4);
}
@media screen and (max-width: 700px) {
  .callback {
    flex-direction: column;
    justify-content: unset;
  }
}
.callback-container {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .callback-container {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 1000px) {
  .callback-container {
    gap: 15px;
  }
}
.callback img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 700px) {
  .callback img {
    width: calc(100% - 120px);
    padding: 0px 60px;
  }
}
.callback_title {
  font-size: 40px;
  color: #8C303A;
}
.callback_btn {
  padding: 5px 15px;
  background-color: #8C303A;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
.callback_btn-white {
  color: #000;
  background-color: #fff;
  border: solid 0.5px #000000;
}
.callback_btn-container {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1000px) {
  .callback_btn-container {
    flex-direction: column;
    gap: 10px;
  }
}

.miniblog {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .miniblog {
    margin: 15px 30px;
  }
}
.miniblog_title {
  font-size: 40px;
  color: #8C303A;
}
.miniblog_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .miniblog_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .miniblog_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .miniblog_container {
    grid-template-columns: 1fr;
  }
}
.miniblog_container-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.miniblog_container-item img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.miniblog_container-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.miniblog_container-item:hover {
  box-shadow: 0 0 32px #ccc;
  transition: 0.5s;
  color: #212121;
}
.miniblog_container-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #000;
}

.footer {
  padding: 30px;
  background-color: rgba(255, 88, 107, 0.3764705882);
}
.footer__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__logo-name {
  font-family: "light";
  font-size: 35px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px 5px 40px;
}
@media screen and (max-width: 1000px) {
  .footer__menu {
    display: none;
  }
}
.footer__menu ul {
  display: flex;
  gap: 20px;
}
.footer__menu ul li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2px;
}
.footer__menu ul li a {
  color: #000;
  text-decoration: none;
}
.footer__menu ul li {
  position: relative;
}
.footer__menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s;
}
.footer__menu ul li:hover::after {
  width: 100%;
}
.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 5px 40px;
  border-top: 1px solid #000;
}
@media screen and (max-width: 600px) {
  .footer__contact {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.footer__contact-cont {
  display: flex;
  gap: 20px;
}
.footer__contact-cont img {
  width: 30px;
}

.service {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .service {
    margin: 15px 30px;
  }
}
.service__title {
  font-size: 40px;
  color: #8C303A;
}
.service__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 100px;
}
@media screen and (max-width: 1100px) {
  .service__container {
    gap: 50px;
  }
}
@media screen and (max-width: 700px) {
  .service__container {
    grid-template-columns: 1fr;
  }
}
.service__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service__info-inf {
  font-size: 18px;
  color: #8C303A;
}
.service__info-price {
  font-size: 30px;
  color: #8C303A;
}
.service__info ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service__info ul li {
  font-size: 18px;
  color: #8C303A;
}
.service__info-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1100px) {
  .service__info-cont {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .service__info-cont {
    grid-template-columns: 1fr;
  }
}
.service__subtitle {
  font-size: 30px;
  color: #8C303A;
}
.service__form {
  width: calc(100% - 70px);
  background-color: #fff;
  border-radius: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service__form-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service__form-input {
  width: calc(100% - 30px);
  padding: 20px 15px;
  border-radius: 15px;
  border: solid 0.5px rgba(0, 0, 0, 0.1921568627);
  font-size: 15px;
}
.service__form-p {
  color: #8C303A;
}
.service__form-submit {
  width: 100%;
  background-color: #8C303A;
  color: white;
  font-size: 18px;
  padding: 20px 15px;
  border-radius: 15px;
  border: solid 0.5px rgba(0, 0, 0, 0.1921568627);
  cursor: pointer;
}
.service__form-cont {
  max-width: 450px;
  background-color: #fff;
  border-radius: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service__form-cont-input {
  width: calc(100% - 30px);
  padding: 20px 15px;
  border-radius: 15px;
  border: solid 0.5px rgba(0, 0, 0, 0.1921568627);
  font-size: 15px;
}
.service__form-cont p a {
  color: #8C303A;
  text-decoration: none;
}
.service__form-title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #8C303A;
  font-size: 30px;
}
.service__form-title img {
  width: 40px;
}
.service__form_mes-green {
  width: 100%;
  border-radius: 15px;
  height: 50px;
  border: solid 1px green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__form_mes-red {
  width: 100%;
  border-radius: 15px;
  height: 50px;
  border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__specialist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .service__specialist {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 950px) {
  .service__specialist {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .service__specialist {
    grid-template-columns: 1fr;
  }
}
.service__specialist-item {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.service__specialist-item img {
  width: auto;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__specialist-item:hover .service__specialist-info {
  top: 20%;
  transition: 0.5s;
}
.service__specialist-info {
  position: absolute;
  left: 0;
  top: 83%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3882352941);
  height: 100%;
  text-align: center;
}
.service__specialist-name {
  padding-top: 10px;
  color: white;
}
@media screen and (max-width: 700px) {
  .service .accordion {
    display: none;
  }
}
.service .accordion-button {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: solid 0.5px #bdbdbd;
  outline: none;
  font-size: 15px;
}
.service .accordion-button a {
  color: #333;
  text-decoration: none;
}
.service .accordion-button:hover {
  background-color: rgba(140, 48, 59, 0.4235294118);
  color: white;
}
.service .accordion-button-item {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: solid 0.5px #bdbdbd;
  outline: none;
  font-size: 15px;
}
.service .accordion-button-item a {
  color: #333;
  text-decoration: none;
}
.service .accordion-button-item:hover {
  background-color: rgba(140, 48, 59, 0.4235294118);
  color: white;
}
.service .accordion-content {
  display: none;
  padding: 10px;
}
.service .accordion-item.active .accordion-content {
  display: flex;
  flex-direction: column;
}

.blog {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .blog {
    margin: 15px 30px;
  }
}
.blog_title {
  font-size: 40px;
  color: #8C303A;
}
.blog__single {
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .blog__single {
    margin: 15px 30px;
  }
}
.blog__single__info {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .blog__single__info {
    flex-direction: column;
  }
}
.blog__single__info_img {
  width: 100%;
  max-width: 850px;
  max-height: 560px;
}
.blog__single__info-inf {
  line-height: 1.7em;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .blog__single__info-inf {
    text-align: center;
  }
}
.blog__single__info__main {
  text-align: center;
}
.blog__single__info__main_text {
  font-weight: 300;
  line-height: 2em;
  font-family: "main";
  color: #8C303A;
  font-size: 30px;
  text-align: center;
}

.auvt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
@media (max-width: 800px) {
  .auvt {
    min-height: unset;
    grid-template-columns: 1fr;
  }
}
.auvt__contant {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.auvt__logo {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.auvt__logo-name {
  font-family: "light";
  font-size: 35px;
}
.auvt__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.auvt__form-cont {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.auvt__form-cont-input {
  width: calc(100% - 30px);
  padding: 20px 15px;
  border-radius: 15px;
  border: solid 0.5px rgba(0, 0, 0, 0.1921568627);
  font-size: 15px;
}
.auvt__form-cont-textarea {
  resize: vertical;
}
.auvt__form-cont p a {
  color: #8C303A;
  text-decoration: none;
}
.auvt__form-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.auvt__form-submit {
  width: 100%;
  background-color: #8C303A;
  color: white;
  font-size: 18px;
  padding: 20px 15px;
  border-radius: 15px;
  border: solid 0.5px rgba(0, 0, 0, 0.1921568627);
  cursor: pointer;
}
.auvt__form-title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #8C303A;
  font-size: 30px;
}
.auvt__form-title img {
  width: 40px;
}
.auvt__image {
  background-image: url(/assets/img/auvt.jpg);
  background-size: cover;
}

.profile {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .profile {
    margin: 15px 30px;
  }
}
.profile__title {
  font-size: 40px;
  color: #8C303A;
}
.profile__cont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}
.profile__record {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile__record-item {
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  gap: 15px;
}
.profile__record-item img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.profile__record-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.profile__subtitle {
  font-size: 25px;
  color: #8C303A;
}
.profile__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.profile__info-cont {
  display: flex;
  justify-content: space-between;
}
.profile__info-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile__info-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile__info-btn-update {
  padding: 15px;
  border-radius: 15px;
  background-color: #8C303A;
  color: white;
  text-decoration: none;
  text-align: center;
}
.profile__info-btn-exit {
  padding: 15px;
  border-radius: 15px;
  background-color: red;
  color: white;
  text-decoration: none;
  text-align: center;
}

.contact_cont .contact {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.contact_cont .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_cont .contact-map {
  margin-right: 4%;
}
.contact_cont .contact-address h2, .contact_cont p {
  margin-top: 4%;
}
.contact_cont .contact-tel {
  margin-top: 4%;
}
.contact_cont .contact-email {
  margin-top: 4%;
}

.specialist_cont h1 {
  text-align: center;
}
.specialist_cont .staff-img {
  width: 200px;
  height: 250px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-top: 5%;
}
.specialist_cont .staff_img img {
  width: initial;
}
.specialist_cont .staff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.specialist_cont .staff-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 2%;
  background-color: rgba(218, 218, 218, 0.842);
  border-radius: 30px;
}
.specialist_cont .staff-button {
  background-color: palevioletred;
  width: 30%;
  height: 10%;
  border-radius: 30px;
  margin: 5%;
}
.specialist_cont .staff-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specialist_cont .staff-info p {
  width: 80%;
  text-align: center;
  margin-top: 2%;
}

@media (max-width: 1600px) {
  .stock_cont h1 {
    text-align: center;
    margin-top: 1%;
  }
  .stock_cont .stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .stock_cont .stock_one {
    display: flex;
    width: 50%;
    margin: 1%;
    background-color: rgba(218, 218, 218, 0.842);
    border-radius: 30px;
  }
  .stock_cont .img_stock {
    width: 200px;
    height: 200px;
    margin: 2%;
    border-radius: 30px;
  }
  .stock_cont .desc_stock {
    margin-top: 2%;
  }
  .stock_cont .stock-button {
    background-color: palevioletred;
    width: 35%;
    height: 15%;
    border-radius: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
@media (max-width: 768px) {
  .stock_cont .stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .stock_cont .stock_one {
    display: flex;
    width: 70%;
    margin: 1%;
    background-color: rgba(218, 218, 218, 0.842);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
  }
  .stock_cont .img_stock {
    width: 100px;
    height: 100px;
    margin: 2%;
    border-radius: 30px;
  }
  .stock_cont .desc_stock {
    text-align: center;
    margin: 2%;
  }
  .stock_cont .stock-button {
    background-color: palevioletred;
    width: 50%;
    height: 10%;
    border-radius: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
@media all and (max-width: 320px) {
  .stock_cont .stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }
  .stock_cont .stock_one {
    display: flex;
    width: 70%;
    margin: 1%;
    background-color: rgba(218, 218, 218, 0.842);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
  }
  .stock_cont .img_stock {
    width: 50px;
    height: 50px;
    margin: 2%;
    border-radius: 30px;
  }
  .stock_cont .desc_stock {
    text-align: center;
    margin: 2%;
  }
  .stock_cont .stock-button {
    background-color: palevioletred;
    width: 50%;
    height: 10%;
    border-radius: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

.admin {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .admin {
    margin: 15px 30px;
  }
}
.admin__title {
  font-size: 40px;
  color: #8C303A;
}
.admin__cont {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
}
.admin__menu {
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.admin__menu-item {
  color: black;
  text-decoration: none;
}
.admin__subtitle {
  font-size: 25px;
  color: #8C303A;
}
.admin__contant {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.admin__table {
  border: 1px solid #eee;
  background: #fff;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
}
.admin__table-th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.admin__table-td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.admin__table-td img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.admin__table-td-cont {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.admin__table-btn-green {
  background-color: green;
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.admin__table-btn-red {
  background-color: red;
  border-radius: 15px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.admin__table .tbody tr:nth-child(odd) {
  background: #fff;
}
.admin__table .tbody tr:nth-child(even) {
  background: #F7F7F7;
}

.work {
  margin: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 700px) {
  .work {
    margin: 15px 30px;
  }
}
.work__title {
  font-size: 40px;
  color: #8C303A;
}
.work__cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .work__cont {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 900px) {
  .work__cont {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .work__cont {
    grid-template-columns: 1fr;
  }
}
.work__cont-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-bottom: solid 1px #000;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-bottom: 10px;
}
.work__cont-item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.work__cont-item p {
  font-size: 20px;
}

body {
  background-color: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  font-family: "main";
}

.container {
  margin: 0 auto;
  max-width: 1718px;
}

.page_contant {
  min-height: calc(100vh - 181px);
  margin-bottom: -181px;
  padding-bottom: 181px;
}
@media screen and (max-width: 600px) {
  .page_contant {
    min-height: calc(100vh - 213px);
    margin-bottom: -213px;
    padding-bottom: 213px;
  }
}

@font-face {
  font-family: "main";
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "light";
  src: url(/assets/fonts/OpenSans-Light.ttf);
}/*# sourceMappingURL=index.css.map */