.header {
  background-color: rgba(0, 0, 0, 0.068);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
}
.header__head {
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px 5px 30px;
}
@media screen and (max-width: 1000px) {
  .header__head {
    display: none;
  }
}
.header__phone {
  color: #000;
}
.header__phone-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__contact {
  display: flex;
  gap: 30px;
}
.header__contact-callback {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 5px 30px;
}
.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__logo-name {
  font-family: "light";
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .header__menu {
    display: none;
  }
}
.header__menu ul {
  display: flex;
  gap: 20px;
}
.header__menu ul li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2px;
}
.header__menu ul li {
  position: relative;
}
.header__menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s;
}
.header__menu ul li:hover::after {
  width: 100%;
}
.header__burger {
  z-index: 5;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  gap: 8px;
}
@media screen and (min-width: 1000px) {
  .header__burger {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .header__burger {
    display: flex;
  }
}
.header__burger span {
  transition: all 0.3s;
  height: 1px;
  background-color: #000000;
  display: block;
  width: 24px;
}
.header .burger_active span:nth-child(1) {
  transform: translate(6px, -1px) rotate(45deg);
  transform-origin: left top;
}
.header .burger_active span:nth-child(2) {
  transform: scale(0);
}
.header .burger_active span:nth-child(3) {
  transform: translate(-1px, -20px) rotate(-45deg);
  transform-origin: right bottom;
}
.header__menu-phone {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #d4d4d4;
  height: 100%;
  width: 100%;
  max-width: 200px;
  padding: 0 5vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  right: -200px;
  transition: opacity 0.5s, visibility 0s 0.5s, right 0.5s;
}
.header .menu_active {
  z-index: 4;
  position: fixed;
  display: flex;
  opacity: 1;
  visibility: visible;
  right: 0;
  transition: opacity 0.5s, visibility 0s, right 0.5s;
}
.header__small {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__small-menu {
  margin-top: 30px;
}
.header__small-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__small-menu ul li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 2px;
}
.header__small-menu ul li {
  position: relative;
}
.header__small-menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.3s;
}
.header__small-menu ul li:hover::after {
  width: 100%;
}

body {
  background-color: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  font-family: "main";
}

@font-face {
  font-family: "main";
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "light";
  src: url(/assets/fonts/OpenSans-Light.ttf);
}/*# sourceMappingURL=index.css.map */