.blog{
    margin: 40px 60px;
    @media screen and (max-width: 700px) {
        margin: 15px 30px;
    }
    display: flex;
    flex-direction: column;
    gap: 30px;
    &_title {
        font-size: 40px;
        color: #8C303A;
    }
    &__single{
        display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (max-width: 700px) {
        margin: 15px 30px;
        
    }
    .blog__single_img {
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__info{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
        
        &_img{
            width: 100%;
            max-width: 850px;
            max-height: 560px;
            
        }
    &-inf{
        line-height: 1.7em;
        text-align: justify;

        @media screen and (max-width: 1024px) {
            text-align: center;
    
    }

    }
    &__main{
        text-align: center;
        
        &_text{
            
            font-weight: 300;
            
    
    line-height: 2em;
    
    font-family: "main";
    color: #8C303A;
    font-size: 30px;
    text-align: center;
        }
    }
}
}
}
