.service {
    margin: 40px 60px;
    @media screen and (max-width: 700px) {
        margin: 15px 30px;
    }
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title {
        font-size: 40px;
        color: #8C303A;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 100px;
        @media screen and (max-width: 1100px) {
            gap: 50px;
        }
        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &-inf {
            font-size: 18px;
            color: #8C303A;
        }
        &-price {
            font-size: 30px;
            color: #8C303A;
        }
        ul {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                font-size: 18px;
                color: #8C303A;
            }
        }
        &-cont {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            @media screen and (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 500px) {
                grid-template-columns: 1fr;
            }
        }
    }
    &__subtitle {
        font-size: 30px;
        color: #8C303A;
    }
    &__specialist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        @media screen and (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
        }
        &-item {
            position: relative;
            overflow: hidden;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:hover {
                .service__specialist-info {
                    top: 20%;
                    transition: 0.5s;
                }
            }
        }
        &-info {
            position: absolute;
            left: 0;
            top: 83%;
            width: 100%;
            background-color: #00000063;
            height: 100%;
            text-align: center;
        }
        &-name {
            padding-top: 10px;
            color: white;
        }
    }
    .accordion {
        @media screen and (max-width: 700px) {
            display: none;
        }
    }
    .accordion-button {
        background-color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        text-align: left;
        border: solid 0.5px #bdbdbd;
        outline: none;
        font-size: 15px;
        a {
            color: #333;
            text-decoration: none;
        }
        &:hover {
            background-color: #8c303b6c;
            color: white;
        }
    }
    .accordion-button-item {
        background-color: #ffffff;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        text-align: left;
        border: solid 0.5px #bdbdbd;
        outline: none;
        font-size: 15px;
        a {
            color: #333;
            text-decoration: none;
        }
        &:hover {
            background-color: #8c303b6c;
            color: white;
        }
    }
    
    .accordion-content {
        display: none;
        padding: 10px;
    }
    
    .accordion-item.active .accordion-content {
        display: flex;
        flex-direction: column;
    }
}