.specialist_cont {
    h1{
        text-align: center;
    }
    .staff-img{
        width: 200px;
        height: 250px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 100%;
        margin-top: 5%;
    }
    .staff_img img {
        width: initial;
        
      }
    .staff{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .staff-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin: 2%;
        background-color: rgba(218, 218, 218, 0.842);
        border-radius: 30px;
    }
    .staff-button{
        background-color: palevioletred;
        width: 30%;
        height: 10%;
        border-radius: 30px;
        margin: 5%;
    }
    .staff-info{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .staff-info p{
        width: 80%;
        text-align: center;
        margin-top: 2%;
    }
}