@import "header";

body {
    background-color: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'main';
}

@font-face {
    font-family: "main";
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "light";
    src: url(/assets/fonts/OpenSans-Light.ttf);
}