@import "header";
@import "slider";
@import "main";
@import "footer";
@import "service";
@import "blog";
@import "auvt";
@import "profile";
@import "contacts";
@import "specialist";
@import "stock";
@import "adminka";
@import "work";

body {
    background-color: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'main';
}

.container {
    margin: 0 auto;
    max-width: 1718px;
}

.page_contant {
    min-height: calc(100vh - 181px);
    margin-bottom: -181px;
    padding-bottom: 181px;
    @media screen and (max-width: 600px) {
        min-height: calc(100vh - 213px);
        margin-bottom: -213px;
        padding-bottom: 213px;
    }
}

@font-face {
    font-family: "main";
    src: url(/assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "light";
    src: url(/assets/fonts/OpenSans-Light.ttf);
}